@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;1,300&display=swap');

:root{
    --primary-color: rgb(138, 0, 138);
    --secondary-color: black;
    --offset-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Newsreader', serif;
    margin: 0%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,111,1) 35%, rgba(112,78,162,1) 100%);
}

.divAddBtn {
    height: 3vh;
    text-align: center;
}

.addNoteBtn {
    height: 2.5rem;
    width: 6rem;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    outline: none;
    border: 1px solid black;
    box-shadow: 3px 3px 10px white;
    cursor: pointer;
    z-index: 1000;
    margin-top: 2vh;
}

.addNoteBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 0px;
}

.notes {
    background-color: var(--offset-color);
    height: 400px;
    width: 400px;
    margin: 20px;
    margin-top: 40px;
    position: inherit;
    box-shadow: 2px 3px 15px rgb(0, 0, 0);
}

.notes .tools {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.notes .tools button {
    background-color: transparent;
    color: var(--offset-color);
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.spanMain{
    font-size: 22px;
    overflow: auto;
}

.notes textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 2px 3px 15px rgb(0, 0, 0);
}

.notes .hidden {
    display: none;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor .notes .edit:active {
    background-color:rgba(190, 190, 190, 0.212);
    border-radius: 30%;
}

.contenedor .notes .delete:active {
    background-color:rgba(190, 190, 190, 0.212);
    border-radius: 30%;
}

textarea {
    resize: none;
}